---
import type { Response } from '@app/models';

import fetch from 'node-fetch';

import { Card, Accordion } from '@app/ui';
import Layout from 'components/layout/Layout.astro';

const response = await fetch('http://localhost:8080/api/ping');
const result = (await response.json()) as Response<string>;
const text = result.success ? result.data : result.error;
console.log(text);
---

<Layout>
  <Card client:load title='Hello, monoplate!'>
    <Accordion title='You have successfully launched the web app!'>
      <p>Ping results: {text}</p>
    </Accordion>
  </Card>
</Layout>
