---
import Document from 'components/layout/Document.astro';
---

<Document>
  <main>
    <slot />
  </main>
</Document>

<style lang='scss'>
  main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    display: flex;
    justify-content: center;
  }
</style>
