---
import Document from 'components/layout/Document.astro';
---

<Document>
    <main>
        <slot />
    </main>
</Document>

<style lang="scss">
    main {
        display: flex;
        justify-content: center;
    }
</style>